.u-section-1 .u-sheet-1 {
  min-height: 1187px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 420px;
  margin: 0 auto 0 570px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 413px;
  margin: -413px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 502px;
  margin: 126px 169px 0 96px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -161px 395px 0 712px;
}

.u-section-1 .u-text-2 {
  margin: -57px 898px 0 209px;
}

.u-section-1 .u-text-3 {
  margin: -52px 681px 0 426px;
}

.u-section-1 .u-text-4 {
  margin: -52px 480px 60px 628px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-1 .u-image-1 {
    height: 372px;
    margin-left: 370px;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 341px;
    margin-top: -365px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 65px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 295px;
    margin-left: 612px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 798px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 581px;
    margin-left: 326px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 380px;
    margin-left: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 261px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 185px;
    margin-left: 502px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 687px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 471px;
    margin-left: 216px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 270px;
    margin-left: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 352px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 270px;
    height: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 95px;
    margin-left: 412px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 507px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 381px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 180px;
    margin-left: 328px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 222px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 307px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 307px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 281px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 80px;
    margin-left: 228px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}